<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <img src="assets/imagenes/logoapp.jpeg" alt="Logo" class="logo-icon" />
      </ion-button>
    </ion-buttons>

    <ion-title class="animated-title">
      TeLlevoAPP
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <img alt="logoduoc" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png" />
    <ion-card-header>
      <ion-card-title>Aplicacion Duoc</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Aquí podras registrarte 
    </ion-card-content>
  </ion-card>


    <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="formData.nombre" name="nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellido Paterno</ion-label>
      <ion-input type="text" [(ngModel)]="formData.apellidoPaterno" name="apellidoPaterno" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellido Materno</ion-label>
      <ion-input type="text" [(ngModel)]="formData.apellidoMaterno" name="apellidoMaterno" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Edad</ion-label>
      <ion-input type="number" [(ngModel)]="formData.edad" name="edad" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Sede</ion-label>
      <ion-select [(ngModel)]="formData.sede" name="sede" required>
        <ion-select-option value="Sede DuocUC Puente Alto">Sede DuocUC Puente Alto</ion-select-option>
        <ion-select-option value="Sede DuocUC Vespucio">Sede DuocUC Vespucio</ion-select-option>
        <ion-select-option value="Sede DuocUC San Joaquin">Sede DuocUC San Joaquin</ion-select-option>
        <ion-select-option value="Sede DuocUC Providencia">Sede DuocUC Providencia</ion-select-option>
        <ion-select-option value="Sede DuocUC Viña Del Mar">Sede DuocUC Viña Del Mar</ion-select-option>
        <ion-select-option value="Sede DuocUC Huechuraba">Sede DuocUC Huechuraba</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" type="submit">Registrar</ion-button>
    <ion-button alt="botonregreso" (click)="goToHome()">Regresar</ion-button>
  </form>
  

</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="social-icons">
      <ion-icon name="logo-twitter" (click)="openLink('https://twitter.com')" class="social-icon"></ion-icon>
      <ion-icon name="logo-whatsapp" (click)="openLink('https://wa.me/')" class="social-icon"></ion-icon>
      <ion-icon name="logo-instagram" (click)="openLink('https://instagram.com')" class="social-icon"></ion-icon>
      <ion-icon name="logo-snapchat" (click)="openLink('https://snapchat.com')" class="social-icon"></ion-icon>
    </div>
  </ion-toolbar>
</ion-footer>